@import "tailwindcss";

@theme {
  --font-outfit: "Outfit_400Regular";
  --font-outfit-medium: "Outfit_500Medium";
  --font-outfit-semibold: "Outfit_600SemiBold";
  --font-outfit-bold: "Outfit_700Bold";
  --font-outfit-black: "Outfit_900Black";

  --color-darkGreen: #21473f;
  --color-logoGreen: #3c5853;
  --color-lightGreen: #e8f0ee;
  --color-lightGray: #eff3f2;
}
